@charset "utf-8" ;

body{
	background-color: black;
	margin:0;
	}


	#splash{	
		position: absolute;

	}
	/*Gjennomsiktig bar bak "enter site" */
	#link{
		background-color: rgba(145,145,145,0.6);
		width: 100%;
		height: 100px;
		position: absolute;
		top: 50%;
		border-top: 2px solid white;
		border-bottom: 2px solid white;
		-webkit-animation: fadeIn 3s;
		

	}
	/*Enter site lenken*/
	a{
		position: relative;
		color: rgb(238,201,0);
		text-decoration: none;
		text-align: center;
		left: 41%;
		top: 30%;
		font-family: "lucida console", Monaco, Monospace;
		font-weight: bold;
		font-size: 40px;
	}
	/*endrer farge til hvit med transition*/
	a:hover{
		-webkit-transition: 0.8s;
		color: white;
	}
	/*Dette er bakgrunnsbilde*/
	#wall	{
		width: 1920px;
		height: 100%;
		margin: 0;
		-webkit-animation: fadeIn 3s;
	}
	/*Vår fantastiske logo*/
	#logo{	
		width: 100px;
		height: 132px;
		position: absolute;
		left: 45%;
	}
	/*Denne forklarer seg selv..*/
	#header{
		width: 100%;
		height: 132px;
		background-color: white;
		position: absolute;
		border-bottom: 5px solid black;
	}
	/*Teksten på venstre side i header*/
	#gruppe14{
		font-size: 50px;
		left: 28%;
		position: relative;
		font-weight: bold;
		font-family: "lucida console", Monaco, Monospace;
	}
	/*Teksten på høyre side i header*/
	#hjelpekart{
		font-size: 50px;
		left: 53%;
		position: absolute;
		top: -5px;
		font-weight: bold;
		font-family: "lucida console", Monaco, Monospace;	
	}
	/*Fadein Animasjon <3*/
	@-webkit-keyframes fadeIn {

	0% {opacity: 0}
	100%{opacity: 1}
	
	}